# macOS
.DS_Store

# Unity generated/cache
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
UserSettings/
MemoryCaptures/
[Bb]urst*/
**/ShaderCache/

# IDE / project files
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.mdb

# Misc
*.tmp
